body {
  margin: 0;

  background-color: #004658;
}

.player {
  width: 370px;
  margin: 0 auto;
}

.timeline {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  margin: 5px;
}

.timeline-chunk {
  height: 3px;
  width: 100%;
  border-radius: 2px;

  background-color: gray;
}

.timeline-chunk-active > .timeline-chunk-inner,
.timeline-chunk-active ~ .timeline-chunk > .timeline-chunk-inner {
  width: 0;
}

.timeline-chunk-inner {
  height: inherit;
  border-radius: inherit;

  background-color: white;
}

.player-content-wrapper {
  position: relative;
}

.player-content img {
  width: 100%;
  height: 657px;
}

.player-chunk {
  display: none;
}

.player-chunk-active {
  display: block;
}

.player-chunk-switcheer {
  position: absolute;
  height: 100%;
  width: 30%;
}

.player-chunk-prev {
  top: 0;
  left: 0;
}

.player-chunk-next {
  top: 0;
  right: 0;
}
