@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.player {
  width: 370px;
  margin: 0 auto;
}

.timeline {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  margin: 5px;
}

.timeline-chunk {
  height: 3px;
  width: 100%;
  border-radius: 2px;

  background-color: gray;
}

.timeline-chunk-active > .timeline-chunk-inner,
.timeline-chunk-active ~ .timeline-chunk > .timeline-chunk-inner {
  width: 0;
}

.timeline-chunk-inner {
  height: inherit;
  border-radius: inherit;

  background-color: white;
}

.player-content-wrapper {
  position: relative;
}

.player-content img {
  width: 100%;
  height: 657px;
}

.player-chunk {
  position: relative;
  display: none;
}

.player-chunk-active {
  display: block;
}

.player-chunk-overlay {
  position: absolute;
  user-select: none;
}

.player-chunk-switcheer {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 30%;
}

.player-chunk-prev {
  top: 0;
  left: 0;
}

.player-chunk-next {
  top: 0;
  right: 0;
}

.watercolor {
  color: white;
  background: url("../img/black-watercolor-brush.png") no-repeat center;
  background-size: 100% 100%;
  text-align: center;
  text-shadow: 1px 1px black;
  font-size: 25px;
  font-family: "Roboto", cursive;
  padding: 60px 30px;
}

@keyframes scale {
  50% {
    transform: scale(2);
  }
}
